@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
:root {
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #ffc06e;
    --secondary-color: #8d8dff;
    --color-1: #f9f6f3;
    --color-2: #f3f7f9;
    --color-3: #F6F3F9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Google Sans",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body{
    padding: 1em;
    background-color: var(--base-color);
}

h1,h2,h3{
    font-family: "Merriweather Sans", sans-serif;
}

nav{
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}


nav li:first-child{
    margin-right: auto;
    font-family: Merriweather Sans, Google Sans;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover{
    text-decoration:underline;
}

header, section{
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.mda-section{
    background-color: #def7b7   ;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img{
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container{
    flex: 0 1 34em;
}

h1{
    font-size: 2.5rem;
}

.text-container p{
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

.cta-button{
    display: inline-block;
    text-decoration: underline;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.secondary{
    background-color: var(--secondary-color);   
}

section{
    padding: 3em min(2em, 15%);
    background-color: var(--color-2);
    text-align: center;
}

h2{
    font-size: 2rem;
}

section p{
    margin-top: 1em;
    font-size: 1.25rem;
}

h3{
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}
.skill-card {
    background: #ffc06e;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}


.skill-card:hover {
    animation: shake 0.4s;
}

@keyframes shake {
    0%   { transform: translateX(0); }
    25%  { transform: translateX(-5px); }
    50%  { transform: translateX(5px); }
    75%  { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}